[
    [
        {
            "name": "Pushup",
            "reps": 8,
            "sets": 3
        },
        {
            "name": "Bulgarian Split Squat",
            "reps": 8,
            "sets": 3
        },
        {
            "name": "Inverted Row",
            "reps": 8,
            "sets": 3
        }
    ],
    [
        {
            "name": "Pike Pushup",
            "reps": 8,
            "sets": 3
        },
        {
            "name": "One-Leg Romainian Deadlift",
            "reps": 8,
            "sets": 3
        },
        {
            "name": "Pullup",
            "reps": 8,
            "sets": 3
        }
    ],
    [
        {
            "name": "Dip",
            "reps": 8,
            "sets": 3
        },
        {
            "name": "Hanging Leg Lift",
            "reps": 8,
            "sets": 3
        },
        {
            "name": "Elbow Press",
            "reps": 8,
            "sets": 3
        }
    ]
]